[Desktop Entry]
Name=Zettlr
GenericName=Markdown Editor
Exec=zettlr --enable-wayland-ime %U
Icon=zettlr
Type=Application
StartupNotify=true
Categories=Office;WordProcessor;
MimeType=text/markdown;text/x-markdown;

